<div id='settings_div'>
	<table width='100%'>
		<tr>
			<td align='left'>
				<div id='toggle col2 div'><a href='javascript:toggle_visible("col2");'>--</a></div>
			</td>
			<td align='left'>
				<div id='menu_status' style='height:20px;width:140px'></div>
			</td>
			<td align='right'>
				<form name='feed_search_form'>
					<input type="hidden" name="feedcat" value="category">
					<input type="hidden" name="id" value="{{.ID}}">
					<input type='text'  name='val' value='{{.Search}}' size=20>
					<select name='search_select'>
						{{.SearchSelect}}
					</select>
					<input type='button' value='Search' onclick='search("category",{{.ID}},this.form)'>
				</form>
				<script>
					document.getElementById('feed_search_form').onsubmit = function() {
						var searchValue = this.val.value;
						feedcat = this.feedcat.value;
						id = this.id.value;
						search(feedcat,id,self);
						// process
						return false;
					}
				</script>
			</td>
			<td align='right'>
				<a href='javascript:toggle_visible("entries_list_div")'>Show/Hide</a>
				<a href='javascript:entries("category","{{.ID}}","marked/");'>Starred</a>&nbsp;
				<a href='javascript:entries("category","{{.ID}}","read/");'>Read</a>&nbsp;</a>
				<a href='javascript:update("category","{{.ID}}");'>Update</a>&nbsp;
				<a href='javascript:mark_list_read("category",{{.ID}});'>Mark all read</a>
			</td>
			<td>
				<div id='toggle_settings_div'><a href='javascript:toggle_visible("modify_div");'>^</a></div>
			</td>
		</tr>
	</table>
	<div id='modify_div' style='border:1px solid #979797;display:none'>
		<table>
			<tr>
				<td>
					<form name='rename_category_form'>
						<input type='text' name='val' value='{{.Name}}'>
						<input type='button' value='Rename' onclick='update("category",{{.ID}},"name",this.form)'>
					</form>
				</td>
				<td>
					<form name='description_form'>
						<input type='text' name='val' value='{{.Description}}'>
						<input type='button' value='Describe' onclick='update("category",{{.ID}},"desc",this.form)'>
					</form>
				</td>
				<td>
					<form name='update_exclude_list'>
						<input type='text' size=20 name='val' value='{{.Exclude}}'>
						<input type='button' value='Exclude' onclick='update("category",{{.ID}},"exclude",this.form)'>
					</form>
				</td>
				<td>
					<form name='delete_form'>
						<input type="hidden" name="val" value="0">
						<input type='button' value='Delete' onclick='update("category",{{.ID}},"delete",this.form)'>
					</form>
				</td>
				<td>
					<form name='clearcache_form'>
						<input type='hidden' name='val' value='0'>
						<input type='button' value='cc' onclick='update("category",{{.ID}},"clearcache",this.form)'>
					</form>
				</td>
				<td>
					<form name='delete_excludes_form'>
						<input type='hidden' name='val' value='0'>
						<input type='button' value='Delete Excludes' onclick='update("category",{{.ID}},"deleteexcludes",this.form)'>
					</form>
				</td>
			</tr>
		</table>
	</div>
</div>
