                        <form name='view_customize_form'>
                            <select name='select' onchange='customize(this.form)'>
                                <option value=''>Customize
                                <option value=''>--View Mode--
                                {{.ViewModeSelect }}
                                <option value='none'>--Category--
                                {{.CategorySelect}}
                                <option value='null'>None
                                <option value=''>--Delete--
                                <option value='delete'>Delete Feed
                            </select>
                        </form>
